@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
font-family: 'Azonix';
}

@font-face {
    font-family: 'Azonix';
    src: url('../Font/Azonix.ttf');
  }
  
.destroyed-down{
  background-color: black;
  clip-path: polygon(0% 100%, 5% 30%, 8% 80%, 10% 50%, 12% 40%, 20% 70%, 25% 47%, 30% 70%, 35% 80%, 37% 63%, 41% 55%, 49% 41%, 49% 69%, 52% 58%, 56% 42%, 54% 79%, 58% 51%, 60% 29%, 64% 81%, 66% 57%, 75% 39%, 75% 60%, 78% 80%, 78% 65%, 82% 48%, 92% 79%, 93% 48%, 95% 63%, 100% 49%, 100% 0%, 0% 0%);
}

/* .footer{
  background-color: black;
  clip-path: polygon(0 70%, 10% 70%, 15% 85%, 25% 85%, 30% 75%, 40% 75%, 45% 85%, 55% 85%, 60% 70%, 80% 70%, 90% 100%, 0% 100%);
}
   */